<div ng-controller="productTagsCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Stock Control</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#/addproduct">Products</a>
                </li>
                <li class="active">
                    <strong>Stock Control</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-4">
                <div class="title-action">
                    <a href="#" class="btn btn-primary" ui-sref="products.purchaseOrder">Order Stock</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="title-action">
                    <a href="#" class="btn btn-primary" ui-sref="products.returnStock">Return Stock</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="title-action">
                    <a href="#" class="btn btn-primary" ui-sref="products.transferStock">Transfer Stock</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div style="padding-left:0px; padding-right:1px; padding-bottom:2px;" class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
