<form role="form" name="addType_form" ng-submit="addNewType()">
    <div class="inmodal">
        <div class="modal-header">
            <h4 class="modal-title">{{addOrEditTitle}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Type name</label>
                <input type="text" placeholder="Type name" ng-model="typeName" class="form-control" required>
                <div class="m-t-xs" ng-show="addType_form.typeName.$invalid && addType_form.submitted">
                    <small class="text-danger" ng-show="addType_form.typeName.$error.required">Type name is required</small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" type="submit">{{addOrUpdateTagActionText}}</button>
        </div>
    </div>
</form>

